
<div class="ui container">
	
	<h1 class="ui small dividing header">Address Info</h1>
	<br>
	<div class="ui equal height stackable grid">
		<div class="three wide no-padding-y computer only tablet only column">
			<div class="ui equal height <?= $this->config->application->theme; ?> piled no-padding segment">
				<img  class="ui fluid image" src="<?= $this->url->get($subUrl.'/qr/'.$address->address); ?>">
			</div>
		</div>
		<div class="thirteen wide column">
			<div class="ui stackable grid">
				<div class="row no-padding-bottom">
					<div class="four wide column">
						<h3 class="ui header">Address:</h3>
					</div>
					<div class="twelve wide no-padding-y column">
						<h3 class="ui header"><?= $address->address; ?><?= $function->addrAlias($address->address)!==false ? ' <span class="ui mini green label">'.$function->addrAlias($address->address).'</span>' : ''; ?></h3>
					</div>
				</div>
				<div class="row no-padding-y">
					<div class="four wide no-padding-y column">
						<strong>Sent:</strong>
					</div>
					<div class="twelve wide no-padding-y column">
						<?= number_format($address->sent,8); ?> <strong><small><?= $unit; ?></small></strong>
					</div>
				</div>
				<div class="row no-padding-y">
					<div class="four wide no-padding-y column">
						<strong>Received:</strong> 
					</div>
					<div class="twelve wide no-padding-y column">
						<?= number_format($address->received,8); ?> <strong><small><?= $unit; ?></small></strong>
					</div>
				</div>
				<div class="row no-padding-y">
					<div class="four wide no-padding-y column">
						<strong>Balance:</strong>
					</div>
					<div class="twelve wide no-padding-y column">
						<?= number_format($address->balance,8); ?> <strong><small><?= $unit; ?></small></strong>
					</div>
				</div>
				<div class="row no-padding-top">
					<div class="four wide no-padding-y column">
						<strong>Transactions:</strong>
					</div>
					<div class="twelve wide no-padding-y column">
						<?= number_format($trxCount->total); ?> <strong> Trxs</strong>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br>
	<h1 class="ui small dividing header">Transaction</h1>
	<table id="data" class="ui small <?= $this->config->application->theme; ?> striped selectable table">
		<thead>
			<tr>
				<th>Timestamp</th>
				<th>Block</th>
				<th>Transaction ID</th>
				<th>Amount</th>
			</tr>
		<thead>
		<tbody>
			<?php 
			
			foreach($transactions as $trx){
				?>
				<tr>
					<td><span class="time"><?= $trx->time; ?></span></td>
					<td><a href="<?= $this->url->get($subUrl.'/block/').$trx->blockhash; ?>"><?= $trx->blockheight; ?></a></td>
					<td><a href="<?= $this->url->get($subUrl.'/tx/').$trx->txid; ?>"><?= $trx->txid; ?></a></td>
					<td class="right aligned <?= $trx->position=="vin" ? 'negative' : 'positive'; ?> inverted">
						<?= $trx->position=="vin" ? '-' : ''; ?> <?= number_format($trx->value,8); ?> <strong><small><?= $unit; ?></small></strong>
					</td>
				</tr>
				<?php
			} ?>
		</tbody>
	</table>
	
</div>

<script>
	$(document).ready(function() {
		var payload = [{ date: new Date() }];
		$('#data').DataTable({
			"ordering": false,
			"columnDefs": [ {
				"targets": 0,
				"type": "date"
			}]
		});
	} );
</script>

