<div class="ui container">
	<div class="ui grid">
		<div class="sixteen wide mobile ten wide tablet ten wide computer column">
			<h1 class="ui small dividing header"><i class="chess queen icon"></i>Top 100 Balance Allocation</h1>
		
			<div class="scroll-y">
				<table id="data" class="ui small <?= $this->config->application->theme; ?> striped selectable very basic fixed single line table">
					<tbody>
						<?php $i=$top25=$top50=$top75=$top100=0; foreach($addressess as $address) { $i++ ?>
						<tr>
							<td class="ten wide">
								<i class="hashtag icon"></i><?= $i; ?> | 
								<a href="<?= $this->url->get($subUrl.'/address/'.$address->address); ?>"><?= $address->address; ?> <?= $function->addrAlias($address->address)!==false ? ' <span class="ui mini green label">'.$function->addrAlias($address->address).'</span>' : ''; ?></a>
								<div></div>
							</td>
							<td  class="six wide right aligned">
								<strong><?= number_format($address->balance,8); ?></strong> <small><?= $unit; ?></small>
								<div><?= number_format($address->balance/$supply->total*100,2); ?> %</div>
							</td>
						</tr>
						<?php
						if ($i<=25)
							$top25+=$address->balance;
						else if ($i>25 && $i<=50)
							$top50+=$address->balance;
						else if ($i>50 && $i<=75)
							$top75+=$address->balance;
						else if ($i>75 && $i<=100)
							$top100+=$address->balance;
						?>
						<?php } ?>
					</tbody>
				</table>
			</div>
		</div>
		<div class="sixteen wide mobile six wide tablet six wide computer column">
			<h1 class="ui small dividing header"><i class="chart pie icon"></i>Wealth Distribution</h1>
			<table id="data" class="ui small <?= $this->config->application->theme; ?> striped selectable basic fixed single line table">

				<tbody>
					<tr>
						<td class="one wide" style="background-color:rgba(255, 0, 0, 0.8)">
						</td>
						<td class="four wide">
							<i class="hashtag icon"></i>1 - 25
						</td>
						<td  class="eight wide right aligned">
							<strong><?= number_format($top25,8); ?></strong> <small><?= $unit; ?></small>
						</td>
						<td  class="three wide right aligned">
							<strong><?= number_format($top25/$supply->total*100,2); ?> %</strong>
						</td>
					</tr>
					<tr>
						<td class="one wide"  style="background-color:rgba(0, 255, 0, 0.8)">
						</td>
						<td class="four wide">
							<i class="hashtag icon"></i>26 - 50
						</td>
						<td  class="eight wide right aligned">
							<strong><?= number_format($top50,8); ?></strong> <small><?= $unit; ?></small>
						</td>
						<td  class="three wide right aligned">
							<strong><?= number_format($top50/$supply->total*100,2); ?> %</strong>
						</td>
					</tr>
					<tr>
						<td class="one wide"  style="background-color:rgba(0, 0, 255, 0.8)">
						</td>
						<td class="four wide">
							<i class="hashtag icon"></i>51 - 75
						</td>
						<td  class="eight wide right aligned">
							<strong><?= number_format($top75,8); ?></strong> <small><?= $unit; ?></small>
						</td>
						<td  class="three wide right aligned">
							<strong><?= number_format($top75/$supply->total*100,2); ?> %</strong>
						</td>
					</tr>
					<tr>
						<td class="one wide"  style="background-color:rgba(255, 255, 0, 0.8)">
						</td>
						<td class="four wide">
							<i class="hashtag icon"></i>76 - 100
						</td>
						<td  class="eight wide right aligned">
							<strong><?= number_format($top100,8); ?></strong> <small><?= $unit; ?></small>
						</td>
						<td  class="three wide right aligned">
							<strong><?= number_format($top100/$supply->total*100,2); ?> %</strong>
						</td>
					</tr>
					<tr>
						<td class="one wide"  style="background-color:rgba(255, 0, 255, 0.8)">
						</td>
						<td class="four wide">
							<i class="hashtag icon"></i>&gt; 101
						</td>
						<td  class="eight wide right aligned">
							<strong><?= number_format($supply->total-$top25-$top50-$top75-$top100,8); ?></strong> <small><?= $unit; ?></small>
						</td>
						<td  class="three wide right aligned">
							<strong><?= number_format(($supply->total-$top25-$top50-$top75-$top100)/$supply->total*100,2); ?> %</strong>
						</td>
					</tr>
				</tbody>
			</table>
			
			<canvas id="allocationChart" width="100%" height="65"></canvas>
		</div>
	</div>
</div>
<script>
	var ctx = document.getElementById("allocationChart").getContext('2d');
	var allocationChart = new Chart(ctx, {
		type: 'pie',
		data: {
			labels: ['Pos 1-25','Pos 26-50','Pos 51-75','Pos 75-100','Pos > 100'],
			datasets: [{
				label: 'Allocation Chart',
				data: [<?= number_format($top25/$supply->total*100,2); ?>, 
						<?= number_format($top50/$supply->total*100,2); ?>,
						<?= number_format($top75/$supply->total*100,2); ?>,
						<?= number_format($top100/$supply->total*100,2); ?>,
						<?= number_format(($supply->total-$top25-$top50-$top75-$top100)/$supply->total*100,2); ?>
						],
				backgroundColor: [
						   'rgba(255, 0, 0, 0.8)',
						'rgba(0, 255, 0, 0.8)',
						'rgba(0, 0, 255, 0.8)',
						'rgba(255, 255, 0, 0.8)',
						'rgba(255, 0, 255, 0.8)'
					],
				borderWidth: 3
			}
			]
		},
		options: {
			 tooltips: {
				callbacks: {
					label: function(tooltipItem, data) {
						var dataset = data.datasets[tooltipItem.datasetIndex];
						var total = dataset.data.reduce(function(previousValue, currentValue, currentIndex, array) {
							return previousValue + currentValue;
					});
					var currentValue = dataset.data[tooltipItem.index];       
					return currentValue + "%";
					}
				}
			},
			layout: {
				padding: {
					left: 0,
					right: 0,
					top: 5,
					bottom: 0
				}
			},
			responsive: true,
			legend: {
				display: false
			 },
		}
	});
</script>