<div class="ui container">
	<h3 class="ui dividing header"><img style="margin-right:10px" class="ui medium left align image" src="<?= $this->url->get('/img/logo.png'); ?>" >BitcoinLE Explorer API</h3>
	<p><em>The block explorer provides an API allowing users and/or applications to retrieve information from the network without the need for a local wallet.</em></p>
	
	<h4>API Calls:</h4>
	<div class="ui relaxed divided list">
		<div class="item">
			<i class="large bolt middle aligned icon"></i>
			<div class="content">
				<span class="ui inverted yellow header">diff</span>
				<div class="description"><em>Returns the current difficulty.</em></div>
				<a href="<?= $this->url->get($subUrl.'/api/diff'); ?>" target="_blank" class="ellipsis description"><?= $this->url->get($subUrl.'/api/diff'); ?></a>
			</div>
		</div>
		
		<div class="item">
			<i class="large bolt middle aligned icon"></i>
			<div class="content">
				<span class="ui inverted yellow header">connection</span>
				<div class="description"><em>Returns the number of connections the block explorer has to other nodes. </em></div>
				<a href="<?= $this->url->get($subUrl.'/api/connection'); ?>" target="_blank" class="ellipsis description"><?= $this->url->get($subUrl.'/api/connection'); ?></a>
			</div>
		</div>
		
		<div class="item">
			<i class="large bolt middle aligned icon"></i>
			<div class="content">
				<span class="ui inverted yellow header">blockcount</span>
				<div class="description"><em>Returns the current block index. </em></div>
				<a href="<?= $this->url->get($subUrl.'/api/blockcount'); ?>" target="_blank" class="ellipsis description"><?= $this->url->get($subUrl.'/api/blockcount'); ?></a>
			</div>
		</div>
		
		<div class="item">
			<i class="large bolt middle aligned icon"></i>
			<div class="content">
				<span class="ui inverted yellow header">blockhash/[index]</span>
				<div class="description"><em>Returns the hash of the block at ; index 0 is the genesis block. </em></div>
				<a href="<?= $this->url->get($subUrl.'/api/blockhash/69699'); ?>" target="_blank" class="ellipsis description"><?= $this->url->get($subUrl.'/api/blockhash/69699'); ?></a>
			</div>
		</div>
		
		<div class="item">
			<i class="large bolt middle aligned icon"></i>
			<div class="content">
				<span class="ui inverted yellow header">block/[hash]</span>
				<div class="description"><em>Returns information about the block with the given hash.  </em></div>
				<a href="<?= $this->url->get($subUrl.'/api/block/0000000c1b8f19d41312c528be0d64b22af75866f292d7ba4652e8c867313898'); ?>" target="_blank" class="ellipsis description"><?= $this->url->get($subUrl.'/api/block/0000000c1b8f19d41312c528be0d64b22af75866f292d7ba4652e8c867313898'); ?></a>
			</div>
		</div>
		
		<div class="item">
			<i class="large bolt middle aligned icon"></i>
			<div class="content">
				<span class="ui inverted yellow header">transaction/[txid]/[decrypt]</span>
				<div class="description"><em>Returns raw transaction representation for given transaction id. decrypt can be set to 0(false) or 1(true).</em></div>
				<a href="<?= $this->url->get($subUrl.'/api/transaction/279554bfcf13a803021682d4a01026e6f96d9273f918df46bb52768648cb4ae8/0'); ?>" target="_blank" class="ellipsis description"><?= $this->url->get($subUrl.'/api/block/279554bfcf13a803021682d4a01026e6f96d9273f918df46bb52768648cb4ae8/0'); ?></a>
				<a href="<?= $this->url->get($subUrl.'/api/transaction/279554bfcf13a803021682d4a01026e6f96d9273f918df46bb52768648cb4ae8/1'); ?>" target="_blank" class="ellipsis description"><?= $this->url->get($subUrl.'/api/block/279554bfcf13a803021682d4a01026e6f96d9273f918df46bb52768648cb4ae8/1'); ?></a>
			</div>
		</div>
		
		<div class="item">
			<i class="large bolt middle aligned icon"></i>
			<div class="content">
				<span class="ui inverted yellow header">network</span>
				<div class="description"><em>Returns the current network hashrate. (hash/s) </em></div>
				<a href="<?= $this->url->get($subUrl.'/api/network'); ?>" target="_blank" class="ellipsis description"><?= $this->url->get($subUrl.'/api/network'); ?></a>
			</div>
		</div>
		
		<div class="item">
			<i class="large bolt middle aligned icon"></i>
			<div class="content">
				<span class="ui inverted yellow header">supply</span>
				<div class="description"><em>Returns current BLE supply . </em></div>
				<a href="<?= $this->url->get($subUrl.'/api/supply'); ?>" target="_blank" class="ellipsis description"><?= $this->url->get($subUrl.'/api/supply'); ?></a>
			</div>
		</div>
		
		<div class="item">
			<i class="large bolt middle aligned icon"></i>
			<div class="content">
				<span class="ui inverted yellow header">allocation</span>
				<div class="description"><em>Returns wealth distribution/allocation stats </em></div>
				<a href="<?= $this->url->get($subUrl.'/api/allocation'); ?>" target="_blank" class="ellipsis description"><?= $this->url->get($subUrl.'/api/allocation'); ?></a>
			</div>
		</div>
	</div>
</div>