
<div id="block" class="ui container">
	<h1 class="ui small dividing header">Block Info</h1>
	<br>
	<div class="ui equal height stackable grid">
		<div class="thirteen wide column">
			<div class="ui stackable grid">
				<div class="row no-padding-bottom">
					<div class="four wide column">
						<h3 class="ui header">Hash:</h3>
					</div>
					<div class="twelve wide no-padding-y column">
						<h3 class="ui header"><?= $result->hash; ?></h3>
					</div>
				</div>
				<div class="row no-padding-y">
					<div class="four wide no-padding-y column">
						<strong>Height:</strong>
					</div>
					<div class="twelve wide no-padding-y column">
						<?= $result->height; ?>
					</div>
				</div>
				<div class="row no-padding-y">
					<div class="four wide no-padding-y column">
						<strong>Diffculty:</strong> 
					</div>
					<div class="twelve wide no-padding-y column">
						<?= $result->difficulty; ?> 
					</div>
				</div>
				<div class="row no-padding-y">
					<div class="four wide no-padding-y column">
						<strong>Confirmations:</strong> 
					</div>
					<div class="twelve wide no-padding-y column">
						<transition name="slide-fade" mode="out-in">
						<strong v-bind:class="{ 'green': confirmations>=6, 'red': confirmations<6 }" class="green text" :key="confirmations" v-cloak>{{ confirmations }} <i v-bind:class="{ 'check': confirmations>=6, 'asterisk loading': confirmations<6 }" class="icon"></i></strong> 
						</transition>
					</div>
				</div>
				<div class="row no-padding-y">
					<div class="four wide no-padding-y column">
						<strong>Size:</strong>
					</div>
					<div class="twelve wide no-padding-y column">
						<?= number_format($result->size/1024,2); ?> kB
					</div>
				</div>
				<div class="row no-padding-y">
					<div class="four wide no-padding-y column">
						<strong>Nonce:</strong>
					</div>
					<div class="twelve wide no-padding-y column">
						<?= $result->nonce; ?>
					</div>
				</div>
				<div class="row no-padding-y">
					<div class="four wide no-padding-y column">
						<strong>Bits:</strong>
					</div>
					<div class="twelve wide no-padding-y column">
						<?= $result->bits; ?>
					</div>
				</div>
				<div class="row no-padding-y">
					<div class="four wide no-padding-y column">
						<strong>Metronome Hash:</strong>
					</div>
					<div class="twelve wide no-padding-y column">
						<a target="_blank" href="https://www.blockchain.com/btc/block/<?= $result->metronomehash; ?>"><?= $result->metronomehash; ?></a>
					</div>
				</div>
				<div class="row no-padding-top">
					<div class="four wide no-padding-y column">
						<strong>Time:</strong>
					</div>
					<div class="twelve wide no-padding-y column time">
						<?= $result->time; ?>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="ui grid">
		<div class="sixteen wide column">
			<h1 class="ui small dividing header">Transactions</h1>
			<table id="data" class="ui small <?= $this->config->application->theme; ?> striped selectable table">
				<thead>
					<tr>
						<th>Time</th>
						<th>Transaction ID</th>
						<th>Recipient</th>
						<th>Value</th>
					</tr>
				<thead>
				<tbody>
				<?php foreach($transactions as $trx){ ?>
					<tr>
						<td><?= $trx->time; ?></td>
						<td><a href="<?= $this->url->get($subUrl.'/tx/'.$trx->hash); ?>"><strong><?= $trx->hash; ?></strong></a></td>
						<td>
							<?= $trx->recipients; ?>
						</td>
						<td class="right aligned"><strong><?= $trx->value; ?></strong> <?= $unit; ?></td>
					</tr>
				<?php } ?>
				</tbody>
			</table>
		</div>		
	</div>
</div>
<script>
	new Vue({
		el: '#block',
		data(){
			return{
				confirmations:<?= $result->confirmations; ?>
			}
		},
		methods: {
			loadData: function(){
				axios
					.get('<?= $this->url->get($subUrl.'/api/block/'.$result->hash); ?>')
					.then(response=>(
						this.confirmations = response.data.confirmations
					))
			}
		},
		mounted(){
			this.loadData();
			setInterval(function(){
				this.loadData();
			}.bind(this),30000)
		}
	});
</script>
