<div class="ui container">
	<h3 class="ui dividing header"><img class="ui medium left align image" src="<?= $this->url->get('/img/logo.png'); ?>" >BitcoinLE Faucet | Balance: <span id="balance"><?= $balance->result; ?></span> BLE</h3>
<div class="ui divided stackable grid">
	<div class="six wide column">
		<div id="feedback"></div>
		<form class="ui form" method="post" action="<?= $this->url->get('/ble/faucet'); ?>">
			<div class="field">
				<label>Your BitcoinLE Address</label>
				<div class="ui input">
					<input type="text" name="address" placeholder="BitcoinLE Address">
				</div>
			</div>
			<div class="field">
				<div class="g-recaptcha" data-sitekey="6Lc1i3EUAAAAAGlsxmt8neTty4_QHkD21uFeECXb"></div>
			</div>
			<div class="field">
				<button type="submit" class="ui submit primary button">Submit</button>
			</div>
		</form>
		<script>
		function toDate(value){
				var timestamp=value*1000;
				var d=new Date(timestamp);
				var hour=d.getHours();
				if (hour<10)
					hour="0"+hour;
				var minute=d.getMinutes();
				if (minute<10)
					minute="0"+minute;
				var second=d.getSeconds();
				if (second<10)
					second="0"+second;
				return d.getDate()+" "+monthNames[d.getMonth()]+" "+d.getFullYear()+" "+hour+":"+minute+":"+second;
			}
		$('.message .close')
			.on('click', function() {
				$(this)
					.closest('.message')
					.transition('fade')
				;
		});
		$('.ui.form')
			.form({
				inline:true,
                on: 'blur',
				fields: {
					address: 'empty'
				},
				onSuccess: function(e){
					e.preventDefault();
					if (grecaptcha.getResponse() == "") {
						alert('Please confirm reCAPTCHA');
					} else {
						$('form .input').addClass('loading disabled');
						$('.submit.button').addClass('loading disabled');
						
						var address = $('[name="address"]').val();

						$.ajax({
							type        : 'POST',
							url         : $(this).attr('action'),
							dataType    : 'json',
							data        : {
								address: address,
								captcha: grecaptcha.getResponse()
							},
							success     : function(response) {
								console.log(response);
								var feedback='<div class="ui message"><i class="close icon"></i><div class="header"></div></div><div class="ui divider"></div>';
								if (response.status){
									var balance=$("#balance").html();
									$("#balance").html(balance-response.amount);
									$('#feedback').html(feedback);
									$('.ui.message').removeClass('warning');
									$('.ui.message').addClass('positive');
									$('.ui.message').html("Congratulations!!You got "+response.amount+" BLE");
									$('#faucet > .ui.grid').prepend('<div class="ui row">'+
																		'<div class="eight wide ellipsis column"><a href="<?= $this->url->get('/ble/tx/'); ?>'+response.txid+'">'+response.txid+'</a></div>'+
																		'<div class="three wide right aligned column">'+response.amount+' <small><strong>BLE</strong></small></div>'+
																		'<div class="five wide right aligned column"><span class="time">'+toDate(response.time)+'</span></div>'+
																		'</div>');
								} else {
									$('#feedback').html(feedback);
									$('.ui.message').removeClass('positive');
									$('.ui.message').addClass('warning');
									$('.ui.message').html("Oops!!"+response.message);
									
								}
								$('.submit.button').removeClass('loading disabled');
                                $('.input').removeClass('loading disabled');
								grecaptcha.reset();
								$('[name="address"]').val('');
							}
						});
					}
				}
			});
		</script>
	</div>
	<div class="ten wide column">
		<h3 class="ui dividing header">Last 10 Faucet Transactions</h3>
		<div id="faucet">
			<div class="ui grid">
				<?php foreach($lists as $list){
					?>
					<div class="ui row">
						<div class="eight wide ellipsis column"><a href="<?= $this->url->get('/ble/tx/'); ?><?= $list->txid; ?>"><?= $list->txid; ?></a></div>
						<div class="three wide right aligned column"><?= $list->amount; ?> <small><strong>BLE</strong></small></div>
						<div class="five wide right aligned column"><span class="time"><?= $list->time; ?></span></div>
					</div>
					<?php
				}?>
			</div>
		</div>
	</div>
</div>
</div>