<div id="block" class="ui container">
	<div class="ui grid">
		<div class="sixteen wide mobile eight wide tablet eight wide computer column">
			<h1 class="ui small dividing header"><i class="cubes icon"></i>Blocks</h1>
			<div class="scroll-y">
			<table class="ui small <?= $this->config->application->theme; ?> striped selectable very basic fixed single line table">
				<tbody name="fade" is="transition-group">
					
					<tr v-for="block in blocks" :key="block">
						<td class="five wide">
							<i class="cube icon"></i>
							<a v-bind:href="'<?= $this->url->get($subUrl.'/block/'); ?>' + block.hash"><strong>{{ block.height }}</strong></a>
							<div><i class="clock outline icon"></i><span class="time">{{ block.time | toDate }}</span></div>
						</td>
						<td  class="eleven wide">
							<a v-bind:href="'<?= $this->url->get($subUrl.'/block/'); ?>' + block.hash"><strong>{{ block.hash }}</strong></a>
							<div>{{ block.size/1024 | currency }} kB | {{ block.tx }} Transactions</div>
						</td>
					</tr>
				</tbody>
			</table>
			</div>
		</div>
		<div class="sixteen wide mobile eight wide tablet eight wide computer column">
			<h1 class="ui small dividing header"><i class="exchange icon"></i>Transactions</h1>
			<div class="scroll-y">
			<table id="data" class="ui small <?= $this->config->application->theme; ?> striped selectable very basic fixed single line  table">
				<thead>
				<tbody name="fade" is="transition-group">
					<tr  v-for="transaction in transactions" :key="transaction">
						<td  class="ten wide">
							<i class="exchange icon"></i>
							<a v-bind:href="'<?= $this->url->get($subUrl.'/tx/'); ?>'+transaction.hash"><strong>{{ transaction.hash }}</strong></a>
							<div><i class="cube icon"></i>{{ transaction.block }}</div>
							<div><i class="users icon"></i>{{ transaction.recipients }} Recipients</div>
						</td>
						<td class="six wide right aligned">
							<strong>{{ transaction.value | satoshi }}</strong> <?= $unit; ?>
							<div><i class="clock outline icon"></i> <span class="time">{{ transaction.time | toDate }}</span> </div>
						</td>
					</tr>
				</tbody>
			</table>
			</table>
			</div>
		</div>
	</div>
</div>
<script>
	var lastBlock=0;
	var blocks=[];
	var transactions=[];
	new Vue({
		el: '#block',
		data(){
			return{
				blocks: blocks,
				transactions: transactions
			}
		},
		methods: {
			loadData: function(){
				axios
					.get('<?= $this->url->get($subUrl.'/api/blockData/'); ?>'+lastBlock)
					.then(function(response){
						if (response.data!="up to date"){
							$.each(response.data.block,function(index, value){
								lastBlock=value.height;
								blocks.unshift({hash:value.hash,size:value.size,time:value.time,height:value.height,tx:value.tx});
								if (blocks.length>=30)
									blocks.splice(-1, 1);
							});
							
							$.each(response.data.transaction,function(index, value){
								transactions.unshift({hash:value.hash,time:value.time,recipients:value.recipients,block:value.block,value:value.value});
								if (transactions.length>=50)
									transactions.splice(-1, 1);
							});
						}
					});
			}
		},
		mounted(){
			this.loadData();
			setInterval(function(){
				this.loadData();
			}.bind(this),30000)
		}
	});
</script>