<link rel="stylesheet" type="text/css" href="<?= $this->url->get('/css/jquery-jvectormap-2.0.3.css?').rand(); ?>">
<script src="<?= $this->url->get('/js/jquery-jvectormap-2.0.3.min.js'); ?>"></script>
<script src="<?= $this->url->get('/js/jquery-jvectormap-world-mill.js'); ?>"></script>
<div id="masternode" class="ui container">
	<div class="ui divided grid">
		<div class="row">
			<div class="ten wide computer sixteen wide tablet sixteen wide mobile  column">
				<div id="world-map" style="100%; height: 250px"></div>
			</div>
			<div class="six wide computer sixteen six tablet sixteen wide mobile column">
				<div class="scroll-y-250">
					<div class="ui grid">
						<div class="five wide column">
							<div class="ui middle aligned selection list">
							<?php
								$num=0;
								foreach(json_decode($country) as $key => $value){
									if ($num==15){
										echo '</div></div><div class="five wide column"><div class="ui middle aligned selection list">';
										$num=0;
									}
									echo '<div class="item"><i class="'.strtolower($key).' flag"></i> ' .$value.'</div>';
									$num++;
								}
							?>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<h1 class="ui small dividing header"><i class="chess queen icon"></i>Masternodes</h1>
		<table id="data" class="ui small <?= $this->config->application->theme; ?> striped selectable very basic fixed single line table">
			<thead>
				<tr>
					<th class="one wide">Flag</th>
					<th class="four wide">Address</th>
					<th class="two wide">Protocol</th>
					<th class="three wide">Active</th>
					<th class="seven wide">PubKey</th>
					<th class="two wide">Status</th>
				</tr>
			<thead>
		</table>	
	
<script>
	var mnData=<?= $country; ?>;
	var map = $('#world-map').vectorMap({
		map: 'world_mill',
		backgroundColor: "",
		regionStyle: {
            initial: {
                fill: '<?= $this->config->application->mapcolor; ?>'
            }
        }, 
		series: {
			regions: [{
				values: mnData,
				scale: [<?= $this->config->application->mapScale; ?>],
				normalizeFunction: 'polynomial'
			}]
		},
		onRegionTipShow: function(e, el, code){
			var data=0;
			if (mnData[code]!=null)
				data=mnData[code];
			el.html('<center style="line-height:1.1em">'+el.html()+'<br><small>'+data+' MNs</small></center>');
		}
	}); 
	$(document).ready(function() {
		
		$('#data').DataTable({
			"ordering": false,
			 "processing": true,
			"pageLength": 50,
			"scrollY": "400px",
			"ajax": '<?= $this->url->get($subUrl.'/masternode/data'); ?>',
			"columnDefs": [
				{ className: "timeAgo", "targets": [ 2 ] }
 			 ]
		});
	});
</script>
