<div class="ui container">
	<h3 class="ui dividing header"><img style="margin-right:10px" class="ui medium left align image" src="<?= $this->url->get('/img/logo.png'); ?>" >BitcoinLE Faucet | <a href="https://bitcointalk.org/index.php?topic=4951492" target="_blank">BitcoinTalk</a> Merit <sup><a class="how" title="how to">?</a></sup></h3>
	<?php
	$dir = './files/btalk/';
	$phase=1;
	foreach($files as $file){
		$open = fopen($dir.$file, "r") or die("Unable to open file!");
		$content = json_decode(fread($open,filesize($dir.$file)));
		fclose($open);
		?>
		<h3>Round <?= $phase; ?> | Page <?= ($phase*1)+(($phase-1)*4); ?> to <?= ($phase*1)+(($phase-1)*4)+4; ?> <a href="https://bitcointalk.org/index.php?topic=4951492" target="_blank"><small>BitcoinTalk</small></a></h3>
		<ul>
		<?php
		foreach($content as $winner){
			?>
			<li>
				<div class="ui list">
					<div class="item">
						BTalk Username : <strong><?= $winner->user; ?></strong>
					</div>
					<div class="item">
						Point/Not Passed : <strong><?= $winner->point; ?></strong>/<strong><?= $winner->not_passed; ?></strong>
					</div>
					<div class="item">
						BLE Address : <strong><a target="_blank" href="<?= $this->url->get($subUrl.'/address/').$winner->address; ?>"><?= $winner->address; ?></a></strong>
					</div>
					<div class="item">
						Status : <strong><?= $winner->status ? "Success" : "Failed"; ?></strong>
					</div>
					<div class="item">
						Message : <strong><?= $winner->status ? '<a target="_blank" href="'.$this->url->get($subUrl.'/tx/'.$winner->message).'">'.$winner->message.'</a>' : $winner->message; ?></strong>
					</div>
				</div>
			</li>
			<?php
		}
		?>
		</ul>
		<hr>
		<?php
		$phase++;
	}
	?>
</div>
<script>
$(".how").on("click",function(){
	$.alert({
		boxWidth: '30%',
		useBootstrap: false,
		title: 'How to get BLE from BTalk Merit',
		content: '<ul><li>BLE BitcoinTalk will be divided by round, each round will be 100 reply thread</li><li>It\'s mean every round will be per 5 pages</li><li>User must add address once every round reply with one of supported format:<ul><li>BLE_ADDRESS@BLE</li><li>#BLE.BLE_ADDRESS</li><li>#BLE:BLE_ADDRESS</li><li>#BLE BLE_ADDRESS</li></ul>example :<ul><li>JfW863PCZXdoXTUgN5qf31qTzuV9XpXoYH@BLE</li><li>#BLE.JfW863PCZXdoXTUgN5qf31qTzuV9XpXoYH</li><li>#BLE:JfW863PCZXdoXTUgN5qf31qTzuV9XpXoYH</li><li>#BLE JfW863PCZXdoXTUgN5qf31qTzuV9XpXoYH</li></ul></li><li>The winner will be divided into 3 parts<ul><li>#1 Will get <strong>25 BLE</strong></li><li>#2 Will get <strong>15 BLE</strong></li><li>#3 Will get <strong>10 BLE</strong></li></ul></li><li>Thread reply will counting become point if it\'s not spamming and more than 50 words other than will be marked as not_passed</li></ul>',
	});
});
</script>