<div id="network" class="ui container">
	<h1 class="ui small dividing header"><i class="globe icon"></i>Network List</h1>
	<table id="data" class="ui small <?= $this->config->application->theme; ?> striped selectable very basic fixed single line table">
		<thead>
			<tr>
				<th class="three wide">Version</th>
				<th class="four wide">Address</th>
				<th class="two wide">Byte Send</th>
				<th class="two wide">Byte Received</th>
				<th class="three wide">Connected Since</th>
				<th class="two wide">Ping Time</th>
			</tr>
		<thead>
		<tbody>
			<?php foreach($peers as $peer){	$peer=(object)$peer; ?>
			<tr>
				<td><?= $peer->version.' '.$peer->subver; ?></td>
				<td><?= $peer->addr; ?></td>
				<td class="right aligned"><?= number_format($peer->bytessent/1024,2); ?> <small><strong>kB</strong></small></th>
				<td class="right aligned"><?= number_format($peer->bytesrecv/1024,2); ?> <small><strong>kB</strong></small></td>
				<td class="time right aligned"><?= $peer->conntime; ?></td>
				<td><?= $peer->pingtime; ?></td>
			</tr>
			<?php } ?>
		</tbody>
	</table>	
</div>
<script>
	$(document).ready(function() {
		
		$('#data').DataTable({
			"ordering": false,
			 "processing": true,
			"pageLength": 10,
			"scrollY": "400px"
		});
	});
	</script>