<div class="ui container">
	<h3 class="ui dividing header"><img style="margin-right:10px" class="ui medium left align image" src="<?= $this->url->get('/img/logo.png'); ?>" >BitcoinLE Pool | <a href=="http://blepool.com" target="_blank">BlePool</a></h3>
	<div class="ui divided stackable grid">
		<div class="six wide column">
			<div class="ui piled  inverted <?= $this->config->application->theme; ?> segment">
				<h4 class="ui inverted dividing header">BlePool Info</h4>
				<div class="ui grid">
					<div class="row no-padding-bottom">
						<div class="eight wide column">Hashrate</div>
						<div class="eight wide right aligned column">
							<transition name="slide-fade" mode="out-in">
							<strong><?= $poolResponse->hashrate; ?></strong>
							</transition>
						</div>
					</div>
					<div class="row no-padding-y">
						<div class="eight wide column">
							Algorithm
						</div>
						<div class="eight wide right aligned column">
							<transition name="slide-fade" mode="out-in">
								<strong><?= $poolResponse->config->coin->algorithm; ?></strong>
							</transition>
						</div>
					</div>
					<div class="row no-padding-y">
						<div class="eight wide column">
							Stratum Port
						</div>
						<div class="eight wide right aligned column">
							<transition name="slide-fade" mode="out-in">
								<strong><?= $poolResponse->config->stratum->port; ?></strong>
							</transition>
						</div>
					</div>
					<div class="row no-padding-top">
						<div class="eight wide column">
							Miners
						</div>
						<div class="eight wide right aligned column">
							<transition name="slide-fade" mode="out-in">
								<strong><?= $poolResponse->miners->count; ?></strong>
							</transition>
						</div>
					</div>
				</div>
				<div class="ui divider"></div>
				<form class="ui form" method="post" action="<?= $this->url->get('/ble/pool'); ?>">
					<div class="field">
						<label>Check your miner</label>
						<div class="ui input">
							<input type="text" name="account" placeholder="Account (BLE Address)">
						</div>
					</div>
					<div class="field">
						<button type="submit" class="ui submit primary button">Submit</button>
					</div>
				</form>
			</div>
		</div>
		<div class="ten wide column">
			
			<div id="miner">
				<div class="ui grid">
				</div>
			</div>
		</div>
		<script>
		$('.ui.form')
			.form({
				inline:true,
                on: 'blur',
				fields: {
					account: 'empty'
				},
				onSuccess: function(e){
					e.preventDefault();
						$('form .input').addClass('loading disabled');
						$('.submit.button').addClass('loading disabled');
						
						var account = $('[name="account"]').val();
						$('#miner > .ui.grid').html('Please wait...');
						$.ajax({
							type        : 'POST',
							url         : $(this).attr('action'),
							dataType    : 'json',
							data        : {
								account: account
							},
							success     : function(response) {
								$('#miner > .ui.grid').html('');
								$('#miner > .ui.grid').append('<div class="ui row no-padding-bottom"><div class="two wide column"><strong>ID</strong></div><div class="ten wide column"><strong>Username</strong></div><div class="four wide column"><strong>Diff</strong></div></div><div class="ui fitted divider"></div>');
								$.each(response, function(i, item) {
									$('#miner > .ui.grid').append('<div class="ui row no-padding"><div class="two wide column">'+item.id+'</div><div class="ten wide ellipsis column"><a href="<?= $this->url->get("/ble/address/"); ?>'+item.username+'">'+item.username+'</a></div><div class="four wide column">'+item.difficulty+'</div></div>');
								});
								$('#miner > .ui.grid').append('<div class="two wide column">Total</div><div class="four wide column">'+Object.keys(response).length+' Miners</div></div>');
								console.log(response);
								$('.submit.button').removeClass('loading disabled');
                                $('.input').removeClass('loading disabled');
								$('[name="address"]').val('');
							}
						});
					}
				
			});
		</script>
	</div>
</div>