<div class="ui container">
	<h3 class="ui dividing header"><img class="ui medium left align image" src="<?= $this->url->get('/img/logo.png'); ?>" >Buy BitcoinLE | <?= $pair; ?>/BLE</h3>
<div class="ui divided stackable grid">
	<div class="six wide column">
		<div id="feedback"></div>
		<form class="ui form" method="post" action="<?= $this->url->get('/ble/trade/'.$pair.'/BLE/'); ?>">
			<div class="field">
				<label>Buy BitcoinLE (BLE) with <?= $pair; ?> | <?= $rate; ?> <?= $pair; ?>/BLE</label>
			</div>
			<div class="ui fields">
				<div class="eight wide field">
					<label>Buy Amount</label>
					<div class="ui right labeled input">
						<input type="text" name="amount" placeholder="Amount" autocomplete="off">
						<div class="ui basic label">BLE</div>
					</div>
				</div>
				<div class="eight wide field">
					<label>For</label>
					<div class="ui right transparent labeled input">
						<input id="estimate" type="text" name="<?= $pair; ?>" placeholder="Total <?= $pair; ?>" readonly autocomplete="off">
						<div class="ui basic label"><?= $pair; ?></div>
					</div>
				</div>
				
			</div>
				<div class="field">
					<label>BLE Address</label>
					<div class="ui input">
						<input type="text" name="address" placeholder="Your BLE Address" autocomplete="off">
					</div>
				</div>
			
			<div class="field">
				<div class="g-recaptcha" data-sitekey="6Lc1i3EUAAAAAGlsxmt8neTty4_QHkD21uFeECXb"></div>
			</div>
			<div class="field">
				<button type="submit" class="ui submit primary button">Submit</button>
			</div>
		</form>
		<script>
		$(document).ready(function(){
			$('[name="amount"]').on('keyup',function(){
				var amount=$('[name="amount"]').val();
				$("#estimate").val("Checking price...");
				if (!isNaN(amount)){
					$.ajax({
							type        : 'POST',
							url         : '<?= $this->url->get($subUrl.'/trade/'.$pair.'/BLE/true'); ?>',
							dataType    : 'json',
							success     : function(response) {
								$("#estimate").val(response*amount+" <?= $pair; ?>");
							}
						});
				}
			})
		});
		function toDate(value){
				var timestamp=value*1000;
				var d=new Date(timestamp);
				var hour=d.getHours();
				if (hour<10)
					hour="0"+hour;
				var minute=d.getMinutes();
				if (minute<10)
					minute="0"+minute;
				var second=d.getSeconds();
				if (second<10)
					second="0"+second;
				return d.getDate()+" "+monthNames[d.getMonth()]+" "+d.getFullYear()+" "+hour+":"+minute+":"+second;
			}
		$('.message .close')
			.on('click', function() {
				$(this)
					.closest('.message')
					.transition('fade')
				;
		});
		$('.ui.form')
			.form({
				inline:true,
                on: 'blur',
				fields: {
					amount: ['number','empty'],
					address: 'empty'
				},
				onSuccess: function(e){
					e.preventDefault();
					if (grecaptcha.getResponse() == "") {
						alert('Please confirm reCAPTCHA');
					} else {
						$('form .input').addClass('loading disabled');
						$('.submit.button').addClass('loading disabled');
						
						var amount = $('[name="amount"]').val();
						var address = $('[name="address"]').val();

						$.ajax({
							type        : 'POST',
							url         : $(this).attr('action'),
							dataType    : 'json',
							data        : {
								address: address,
								amount: amount,
								captcha: grecaptcha.getResponse()
							},
							success     : function(response) {
								console.log(response);
								if (response.status){
									$('[name="address"]').val('');
									$('[name="amount"]').val('');
									$('[name="<?= $pair; ?>"]').val('');
									$('#trades > .ui.grid').prepend('<div class="ui row">'+
																		'<div class="three wide ellipsis column"><a target="_blank" href="<?= $this->url->get($subUrl.'/trade/detail/'); ?>'+response.id+'">'+response.id+'</a></div>'+
																		'<div class="two wide right aligned column">'+response.amount+' <br><small><strong>BLE</strong></small></div>'+
																		'<div class="two wide right aligned column">'+response.pay_amount+' <br><small><strong><?= $pair; ?></strong></small></div>'+
																		'<div class="four wide right aligned ellipsis column"><a target="_blank" href="<?= $this->url->get('/ble/address/'); ?>'+response.address+'">'+response.address+'</a></div>'+
																		'<div class="three wide right aligned column"><span class="time">'+toDate(response.time)+'</span></div>'+
																		'<div class="two wide column"><small>'+response.status_info+'</small></div>'+
																		'</div>');
									$.alert({
										boxWidth: '40%',
										useBootstrap: false,
										title: 'Payment Detail',
										content: '<h3>Please complete this transaction : </h3><ul><li>Trx ID : <a target="_blank" href="<?= $this->url->get($subUrl.'/trade/detail/'); ?>'+response.id+'">'+response.id+'</a></li><li>Pay With : <?= $pair; ?></li><li>Pay To : '+response.pay_address+'</li><li>Pay Amount : <strong>'+response.pay_amount+' <?= $pair; ?></strong></li></ul><p>Please send exactly that amount, you will get <strong>'+response.amount+' BLE</strong> when your payment has been confirmed</p><p>Check your transaction status <a target="_blank" href="<?= $this->url->get($subUrl.'/trade/detail/'); ?>'+response.id+'">here</a><p>',
									});
								} else {
									$('#feedback').html(feedback);
									$('.ui.message').removeClass('positive');
									$('.ui.message').addClass('warning');
									$('.ui.message').html("Oops!!"+response.message);
									
								}
								$('.submit.button').removeClass('loading disabled');
                                $('.input').removeClass('loading disabled');
								grecaptcha.reset();
							},
							complete	:	function(response) { console.log(response);}
						});
					}
				}
			});
		</script>
	</div>
	<div class="ten wide column">
		<h3 class="ui dividing header">Trade History <?= $pair; ?>/BLE</h3>
		<div id="trades">
			<div class="ui grid">
				<?php foreach($lists as $list){
					?>
					<div class="ui row">
						<div class="three wide ellipsis column"><a target="_blank" href="<?= $this->url->get($subUrl.'/trade/detail/'.$list->id); ?>"><?= $list->id; ?></a></div>
						<div class="two wide right aligned column"><?= $list->send_amount; ?> <br><small><strong>BLE</strong></small> </div>
						<div class="two wide right aligned column"><?= $list->pay_amount; ?> <br><small><strong><?= $pair; ?></strong></small></div>
						<div class="four wide right aligned ellipsis column"><a target="_blank" href="<?= $this->url->get('/ble/address/'.$list->send_address); ?>"><?= $list->send_address; ?></a></div>
						<div class="three wide right aligned column"><span class="time"><?= $list->time; ?></span></div>
						<div class="two wide column"><small><?= $list->status; ?></small></div>
					</div>
					<?php
				}?>
			</div>
		</div>
	</div>
</div>
</div>