<div class="ui container">
	<h3 class="ui dividing header"><img class="ui medium left align image" src="<?= $this->url->get('/img/logo.png'); ?>" >Trade Detail</h3>
	<div class="ui stackable grid">
		<div class="six wide column">
			<div class="ui list">
				<div class="item">
					<h4 class="header">Trade ID</h4>
					<div class="description">
						<?= $trade->id; ?>
					</div>
				</div>
				<div class="item">
					<h4 class="header">Trade Pair</h4>
					<div class="description">
						<a target="_blank" href="<?= $this->url->get($subUrl.'/trade/'.$trade->pair); ?>"><?= $trade->pair;?></a>
					</div>
				</div>
				<div class="item">
					<h4 class="header">Ratio</h4>
					<div class="description">
						<?= $trade->pay_amount; ?> <small><strong><?= explode("/",$trade->pair)[0]; ?></strong></small> / <?= $trade->send_amount; ?> <small><strong><?= explode("/",$trade->pair)[1]; ?></strong></small> 
					</div>
				</div>
				<div class="item">
					<h4 class="header">Time</h4>
					<div class="description time">
						<?= $trade->time; ?> 
					</div>
				</div>
				<div class="item">
					<h4 class="header">Status</h4>
					<div class="description">
						<?= $trade->status; ?>
					</div>
				</div>
			</div>
		</div>
		<div class="five wide column">
			<div class="ui list">
				<div class="item">
					<h4 class="header">Pay To</h4>
					<div class="description">
						<a target="_blank" href="<?= $trade->pair=="ABS/BLE" ? 'https://explorer.absolutecoin.net/address/'.$trade->pay_address : 'https://explorer.webchain.network/addr/'.$trade->pay_address; ?>"><?= $trade->pay_address;?></a>
					</div>
				</div>
				<div class="item">
					<h4 class="header">Amount</h4>
					<div class="description ellipsis">
						<?= $trade->pay_amount; ?> <small><strong><?= explode("/",$trade->pair)[0]; ?></strong></small>
					</div>
				</div>
				<div class="item">
					<h4 class="header">Transaction ID</h4>
					<div class="description ellipsis">
						<?php if ($trade->pay_tx!=""){
							?><a target="_blank" href="<?= $trade->pair=="ABS/BLE" ? 'https://explorer.absolutecoin.net/tx/'.$trade->pay_tx : 'https://explorer.webchain.network/tx/'.$trade->pay_tx; ?>"><?= $trade->pay_tx;?></a><?php
						} else echo  "-";
						?>
						
					</div>
				</div>
				<div class="item">
					<h4 class="header">Time</h4>
					<div class="description time">
						<?= $trade->paid_at=="" ? "-" : $trade->paid_at; ?>
					</div>
				</div>
			</div>
		</div>
		<div class="five wide column">
			<div class="ui list">
				<div class="item">
					<h4 class="header">Send Paid BLE To</h4>
					<div class="description ellipsis">
						<a target="_blank" href="<?= $this->url->get($subUrl.'/address/'.$trade->send_address); ?>"><?= $trade->send_address; ?></a>
					</div>
				</div>
				<div class="item">
					<h4 class="header">Amount</h4>
					<div class="description">
						<?= $trade->send_amount; ?> <small><strong><?= explode("/",$trade->pair)[1]; ?></strong></small>
					</div>
				</div>
				<div class="item">
					<h4 class="header">Transaction ID</h4>
					<div class="description ellipsis">
						<?php if ($trade->send_tx!=""){
							?><a target="_blank" href="<?= $this->url->get($subUrl.'/tx/'.$trade->send_tx); ?>"><?= $trade->send_tx; ?></a><?php
						} else echo  "-";
						?>
						
					</div>
				</div>
				<div class="item">
					<h4 class="header">Time</h4>
					<div class="description time">
						<?= $trade->sent_at=="" ? "-" : $trade->sent_at; ?>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
</div>