
<div id="tx" class="ui container">
	<h1 class="ui small dividing header">Transaction Info</h1>
	<br>
	<div class="ui equal height stackable grid">
		<div class="thirteen wide column">
			<div class="ui stackable grid">
				<div class="row no-padding-bottom">
					<div class="four wide column">
						<h3 class="ui header">TxID:</h3>
					</div>
					<div class="twelve wide no-padding-y column">
						<h3 class="ui wordwrap header"><?= $result->txid; ?></h3>
					</div>
				</div>
				<div class="row no-padding-y">
					<div class="four wide no-padding-y column">
						<strong>Confirmations:</strong>
					</div>
					<div class="twelve wide no-padding-y column">
						<transition name="slide-fade" mode="out-in">
							<strong v-bind:class="{ 'green': confirmations>=6, 'red': confirmations<6 }" class="green text" :key="confirmations" v-cloak>{{ confirmations }} <i v-bind:class="{ 'check': confirmations>=6, 'asterisk loading': confirmations<6 }" class="icon"></i></strong> 
						</transition>
					</div>
				</div>
				<div class="row no-padding-y">
					<div class="four wide no-padding-y column">
						<strong>Value:</strong> 
					</div>
					<div class="twelve wide no-padding-y column">
						<?= number_format($voutValue,8); ?> <strong><small><?= $unit; ?></small></strong>
					</div>
				</div>
				<div class="row no-padding-y">
					<div class="four wide no-padding-y column">
						<strong>Block Hash:</strong>
					</div>
					<div class="twelve wide no-padding-y column">
						<a class="wordwrap" href="<?= $this->url->get($subUrl.'/block/'.$result->blockhash); ?>"><?= $result->blockhash; ?></a>
					</div>
				</div>
				<div class="row no-padding-y">
					<div class="four wide no-padding-y column">
						<strong>Block Height:</strong>
					</div>
					<div class="twelve wide no-padding-y column">
						<a href="<?= $this->url->get($subUrl.'/block/'.$result->blockhash); ?>"><?= $block->height; ?></a>
					</div>
				</div>
				<div class="row no-padding-top">
					<div class="four wide no-padding-y column">
						<strong>Time:</strong>
					</div>
					<div class="twelve wide no-padding-y time column">
						<?= $result->time; ?>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="ui grid">
		<div class="sixteen wide mobile eight wide tablet eight wide computer column">
			<h1 class="ui small dividing header">Sending Addresses</h1>
			<table id="data" class="ui small <?= $this->config->application->theme; ?> striped selectable table">
				<thead>
					<tr>
						<th>Address</th>
						<th class="right aligned">Value</th>
					</tr>
				<thead>
				<tbody>
					<?php 
					if ($vins[0]=="coinbase"){
						?>
						<tr>
							<td colspan="2" class="center aligned">Coinbase</td>
						</tr>
						<?php
					} else if ($vins[0]->address=="PoS") {
						?>
						<tr>
							<td colspan="2" class="center aligned">PoS</td>
						</tr>
						<?php
					} else {
						foreach($vins as $vin){
							?>
							<tr>
								<td><a href="<?= $this->url->get($subUrl.'/address/').$vin->address; ?>"><?= $vin->address; ?><?= $function->addrAlias($vin->address)!==false ? ' <span class="ui mini green label">'.$function->addrAlias($vin->address).'</span>' : ''; ?></a></td>
								<td class="right aligned negative"><strong><?= number_format($vin->value,8); ?></strong> <strong><small><?= $unit; ?></small></strong></td>
							</tr>
							<?php 
						}
					}?>
				</tbody>
				<?php if ($vins[0]!="coinbase" && $vins[0]->address!="PoS"){ ?>
					<tfoot>
						<tr>
							<th>Total</th>
							<th class="right aligned"><strong><?= number_format($vinValue,8); ?></strong>  <strong><small><?= $unit; ?></small></strong></th>
						</tr>
					</tfoot>
				<?php } ?>
			</table>
		</div>
		<div class="sixteen wide mobile eight wide tablet eight wide computer column">
			<h1 class="ui small dividing header">Recipients</h1>
			<table id="data" class="ui small <?= $this->config->application->theme; ?> striped selectable table">
				<thead>
					<tr>
						<th>Address</th>
						<th class="right aligned">Value </th>
					</tr>
				<thead>
				<tbody>
					<?php
					foreach($vouts as $vout){
							?>
							<tr>
								<td><a href="<?= $this->url->get($subUrl.'/address/').$vout->address; ?>"><?= $vout->address; ?> <?= $function->addrAlias($vout->address)!==false ? ' <span class="ui mini green label">'.$function->addrAlias($vout->address).'</span>' : ''; ?></a></td>
								<td class="right aligned positive"><strong><?= number_format($vout->value,8); ?></strong> <strong><small><?= $unit; ?></small></strong></td>
							</tr>
							<?php 
						}
					?>
				</tbody>
				
			</table>
			<?php if ($voutValue<=$vinValue){ ?>
				<table class="ui small <?= $this->config->application->theme; ?> striped selectable table">
					<thead>
						<tr>
							<th colspan="2">Transaction Fee</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Amount</td>
							<td class="right aligned"><strong><?= number_format($vinValue-$voutValue,8); ?></strong>  <strong><small><?= $unit; ?></small></strong></td>
						</tr>
					</tbody>
				</table>
				<?php } ?>
		</div>
	</div>
</div>
<script>
	new Vue({
		el: '#tx',
		data(){
			return{
				confirmations:<?= $result->confirmations; ?>
			}
		},
		methods: {
			loadData: function(){
				axios
					.get('<?= $this->url->get($subUrl.'/api/transaction/'.$result->txid."/1"); ?>')
					.then(response=>(
						this.confirmations = response.data.confirmations
					))
			}
		},
		mounted(){
			this.loadData();
			setInterval(function(){
				this.loadData();
			}.bind(this),30000)
		}
	});
</script>
