.scrolling.undetached.dimmable.dimmed > .dimmer {
    overflow: scroll !important;
}

.scrolling.undetached.dimmable.dimmed{
    overflow: hidden !important;
}
a{
	color: #000000 !important;
	font-weight:bold !important;
}
.no-padding{
	padding:0 !important;
}
.no-padding-y{
	padding-top:0 !important;
	padding-bottom:0 !important;
} 

.no-padding-bottom{
	padding-bottom:0 !important;
}
.no-padding-top{
	padding-top:0 !important;
}
.no-margin{
	margin:0 !important;
}
.no-margin-y{
	margin-top:0 !important;
	margin-bottom:0 !important;
} 
.no-margin-top{
	margin-top:0 !important;
} 
.no-margin-bottom{
	margin-bottom:0 !important;
} 
.clear{
	clear:both;
}
.inverted a{
	color: #fff !important;
}
.equal.height.segment{
	height:100% !important;
}
.ui.menu .header.item{
	font-size:1.7em;
}

.no-margin{
	margin:0 !important;
}
.footer{
	margin:20px 0;
}
.green.text{
	color:#21BA45 !important;
}
.red.text{
	color:#db2828 !important;
}
.time{
	font-size:0.9em !important;
	color:#666666;
}
.time.small{
	font-size:0.8em !important;
	color:#666666;
}
.wordwrap{
	white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
	white-space: -webkit-pre-wrap; /*Chrome & Safari */ 
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	white-space: pre-wrap;       /* css-3 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
	word-break: break-all;
	white-space: normal;
}

.ellipsis{
	text-overflow: ellipsis !important;
  overflow: hidden !important; 
  width: 95% !important; 
  white-space: nowrap !important;
}

.scroll-y-250{
	max-height:250px;
	overflow-y:auto;
	overflow-x:hidden;
}
.scroll-y-250::-webkit-scrollbar {
    width: 0.3em;
}
 
.scroll-y-250::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,125,0.1);
}
 
.scroll-y-250::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
.scroll-y{
	max-height:500px;
	overflow-y:auto;
}
.scroll-y::-webkit-scrollbar {
    width: 0.3em;
}
 
.scroll-y::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,125,0.1);
}
 
.scroll-y::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.slide-fade-enter-active {
  transition: all .2s ease;
}
.slide-fade-leave-active {
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active for <2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

[v-cloak] {
  display: none;
}
pre {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 1em 0;
}
@media only screen and (max-width: 767px) {
	.ui.stackable.grid>.row.no-padding-y>.wide.column{
		padding-top:0 !important;
		padding-bottom:0 !important;
	} 
	.ui.stackable.grid>.row.no-padding-bottom>.wide.column{
		padding-bottom:0 !important;
	}
	.ui.stackable.grid>.row.no-padding-bottom>.wide.column:not(:first-child){
		padding-bottom:0 !important;
		padding-top:0 !important;
	}
	.ui.stackable.grid>.row.no-padding-top>.wide.column{
		padding-top:0 !important;
	}
}