<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title><?= isset($title) ? $title : 'Block Explorer'; ?> | <?= $this->config->application->name; ?></title>
		<meta name="description" content="<?= (isset($description) && $description!="") ? $description : 'BitcoinLE (BLE) Explorer'; ?>"/>
		<link rel="stylesheet" type="text/css" href="<?= $this->url->get('/css/semantic.min.css'); ?>">
		<link rel="stylesheet" type="text/css" href="<?= $this->url->get('/css/style.css?').rand(); ?>">
		<link rel="stylesheet" type="text/css" href="<?= $this->url->get('/css/jquery-confirm.css?').rand(); ?>">
		<link rel="stylesheet" type="text/css" href="<?= $this->url->get('/assets/datatables/datatables.min.css'); ?>">
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
		<script src="<?= $this->url->get('/js/semantic.min.js'); ?>"></script>
		<script src="<?= $this->url->get('/assets/datatables/datatables.min.js'); ?>"></script>
		<script src="<?= $this->url->get('/js/jquery-confirm.js'); ?>"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script src='https://www.google.com/recaptcha/api.js'></script>
    </head>
    <body>
            <?php echo $this->getContent(); ?>
		
    </body>
</html>
