<div class="ui grid">
	<div class="row">
		<div class=" column no-padding">
			<div class="ui secondary <?= $this->config->application->theme; ?> inverted menu">
				<div class="ui container">
					<div class="header item">
						<a href="<?= $this->url->get($subUrl); ?>">Block Explorer</a>
					</div>
					<div class="computer only tablet only right menu">
						<?php
						if (in_array("Top 100", (array)$this->config->application->menu)){
							?>
							<a href="<?= $this->url->get($subUrl.'/allocation'); ?>" class="item">
								Top 100
							</a>
							<?php
						}
						?>
						<?php
						if (in_array("Masternode", (array)$this->config->application->menu)){
							?>
							<a href="<?= $this->url->get($subUrl.'/masternode'); ?>" class="item">
								Masternode
							</a>
							<?php
						}
						?>
						<?php
						if (in_array("Network", (array)$this->config->application->menu)){
							?>
							<a href="<?= $this->url->get($subUrl.'/network'); ?>" class="item">
								Network
							</a>
							<?php
						}
						?>
						<a href="<?= $this->url->get($subUrl.'/api'); ?>" class="item">
								Api
							</a>
							<div class="ui dropdown icon item">
								Faucet
								<div class="menu">
									<a href="<?= $this->url->get($subUrl.'/faucet'); ?>" class="item">
										Explorer Faucet
									</a>
									<a href="<?= $this->url->get($subUrl.'/merit'); ?>" class="item">
										BTalk Faucet/Merit
									</a>
								</div>
							</div>
		
							<div class="ui dropdown icon item">
								<div class="floating ui red label">new</div>
								Buy BitcoinLE (BLE)
								<div class="menu">
									<a href="<?= $this->url->get($subUrl.'/trade/ABS/BLE'); ?>" class="item">
										Buy with Absolute (ABS)
									</a>
									<a href="<?= $this->url->get($subUrl.'/trade/WEB/BLE'); ?>" class="item">
										Buy with Webchain (WEB)
									</a>
								</div>
							</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<?php echo $this->getContent(); ?>
<div class="ui divider"></div>
<div class="ui container">
	<div class="footer">
		<div class="ui stackable equal height grid">
			<div class="six wide middle aligned column">
				<h3 class="ui small  no-margin header">About</h3>
				<p>This is a blockchain explore, Powered by <a href="https://www.pradha.id" target="_blank">Pradha</a><br>
				Built With : 
					<a href="http://phalconphp.com" target="_blank">PhalconPHP</a>, 
					<a href="https://nodejs.org/en/" target="_blank">Semantic UI</a>, 
					<a href="https://jquery.com/" target="_blank">JQuery</a>, 
					<a href="https://vuejs.org/" target="_blank">VueJS</a>, 
					<a href="https://datatables.net/" target="_blank">DataTable</a>
			</div>
			<div class="ten wide right aligned middle aligned column">
				Copyrights &copy; 2018 <a href="https://www.pradha.id" target="_blank">Pradha</a><br>
				Site Design by <a href="https://www.pradha.id" target="_blank">Pradha</a><br>
				Donate <strong><label id="donate" href="#">BTC/ETH/BLE</label></strong>
			</div>
		</div>
	</div>
</div>

<div class="ui tiny modal">
	<div class="header">Donate to Explorer</div>
		<div class="content">
			<h4>Hi, if you want to donate for this explorer (especially for my monthly bill vps) Please use the address below :</h4><br><br>
			<div class="ui grid">
				<div class="row">
					<div class="four wide column">
						<img src="<?= $this->url->get('/img/bitcoin.png'); ?>">
					</div>
					<div class="twelve wide middle aligned column">
						<a href="https://www.blockchain.com/btc/address/15P2HLgntUHUqEiDwghH2yHVVGr3dy482M" target="_blank">15P2HLgntUHUqEiDwghH2yHVVGr3dy482M</a>
					</div>
				</div>
				<div class="row">
					<div class="four wide middle aligned column">
						<img src="<?= $this->url->get('/img/ethereum.png'); ?>">
					</div>
					<div class="twelve wide column">
						<a href="https://etherscan.io/address/0xae731a03a16b817a82a6e5337070ada7d56b703d" target="_blank">0xaE731A03A16b817A82a6E5337070ADA7D56b703d</a>
					</div>
				</div>
				<div class="row">
					<div class="four wide middle aligned column">
						<img src="<?= $this->url->get('/img/bitcoinle.png'); ?>">
					</div>
					<div class="twelve wide column">
						<a href="https://ble.block-explorer.club/ble/address/JYyhriCSGPhindxhGZUQbt3DH83ysW8SBG" target="_blank">JYyhriCSGPhindxhGZUQbt3DH83ysW8SBG</a>
					</div>
				</div>
			</div>
			<br>
			<h4>If you have unique blockchain project that need blockchain explorer do not hesitate to <a href="mailto:adit@pradha.id">contact</a> me</h4>
		</div>
	<div class="actions">
		<div class="ui cancel button">Close</div>
  </div>
</div>

<script>
$('.ui.dropdown')
  .dropdown({
    clearable: true
  })
;
	$("#donate").on("click",function(){
		var content="<h4>Hi, if you want to donate for this explorer (especially for my monthly bill vps) Please use the address below :</h4>";
		content+='<div class="ui grid" style="padding:0 !important;max-width:90%;margin:0 !important">'
				+'<div class="row">'
				+'	<div class="four wide column">'
				+'		<img src="<?= $this->url->get('/img/bitcoin.png'); ?>">'
				+'	</div>'
				+'	<div class="twelve wide middle aligned ellipsis column">'
				+'		<a href="https://www.blockchain.com/btc/address/1Ci5Tm2TSsgLZuuLtFoHzEXczCpJrH1Ber" target="_blank">1Ci5Tm2TSsgLZuuLtFoHzEXczCpJrH1Ber</a>'
				+'	</div>'
				+'</div>'
				+'<div class="row">'
				+'	<div class="four wide middle aligned column">'
				+'		<img src="<?= $this->url->get('/img/ethereum.png'); ?>">'
				+'	</div>'
				+'	<div class="twelve wide ellipsis column">'
				+'		<a href="https://etherscan.io/address/0xae731a03a16b817a82a6e5337070ada7d56b703d" target="_blank">0xaE731A03A16b817A82a6E5337070ADA7D56b703d</a>'
				+'	</div>'
				+'</div>'
				+'<div class="row">'
				+'	<div class="four wide middle aligned  column">'
				+'		<img src="<?= $this->url->get('/img/bitcoinle.png'); ?>">'
				+'	</div>'
				+'	<div class="twelve wide ellipsis column">'
				+'		<a href="https://ble.block-explorer.club/ble/address/JYyhriCSGPhindxhGZUQbt3DH83ysW8SBG" target="_blank">JYyhriCSGPhindxhGZUQbt3DH83ysW8SBG</a>'
				+'	</div>'
				+'</div>'
			+'</div>';
		$.alert({
			title: 'Donate to DEV!',
			boxWidth: '30%',
			columnClass: 'ui container',
			useBootstrap: false,
			content: content,
		});
	});
/*$('.ui.tiny.modal')
  .modal('attach events', '#donate')
;*/
</script>