<div id="stats" class="ui container">
	<div class="ui stackable equal height grid">
		<div class="sixteen wide mobile eight wide tablet four wide computer column">
			<div class="ui piled equal height inverted <?= $this->config->application->theme; ?> segment">
				<h4 class="ui inverted dividing header">Statistics</h4>
				<div class="ui grid">
					<div class="row no-padding-bottom">
						<div class="eight wide column">Current Block</div>
						<div class="eight wide right aligned column">
							<transition name="slide-fade" mode="out-in">
							<strong :key="block.blockheight" v-cloak>{{ block.blockheight | numFormat }}</strong>
							</transition>
						</div>
					</div>
					<div class="row no-padding-y">
						<div class="eight wide column">
							Block Time AVG
						</div>
						<div class="eight wide right aligned column">
							<transition name="slide-fade" mode="out-in">
								<small :key="blockTimeCount" v-cloak>{{ blockTimeCount }} <i class="cubes icon"></i> </small>
							</transition>
							<transition name="slide-fade" mode="out-in">
								<strong :key="blockTimeAVG" v-cloak>{{ blockTimeAVG | numFormat }}s</strong>
							</transition>
						</div>
					</div>
					<div class="row no-padding-y">
						<div class="eight wide column">
							Block Next Diff 
						</div>
						<div class="eight wide right aligned column">
							<transition name="slide-fade" mode="out-in">
								<strong :key="nextDiffBlock" v-cloak>{{ nextDiffBlock | numFormat }} Blocks</strong>
							</transition>
						</div>
					</div>
					<div class="row no-padding-top">
						<div class="eight wide column">
							Next Diff
						</div>
						<div class="eight wide right aligned column">
							<transition name="slide-fade" mode="out-in">
								<strong :key="nextDiffTime" v-cloak>{{ nextDiffTime | toTime }}</strong>
							</transition>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="sixteen wide mobile eight wide tablet four wide computer column">
			<div class="ui piled equal height <?= $this->config->application->theme; ?> segment">
				<h4 class="ui dividing header no-margin-top">Market</h4>
				<div class="ui grid">
					<div class="row no-padding-bottom">
						<div class="four wide column">Price</div>
						<div class="twelve wide right aligned column">
							<div class="ui mini horizontal <?= $this->config->application->theme; ?> statistic no-margin-bottom">
								<div class="value">
									<transition name="slide-fade" mode="out-in">
										<strong :key="price.ticker.last" v-cloak>{{ price.ticker.last | satoshi }}</strong>
									</transition>
								</div>
								<div class="label">
									BTC
								</div>
							</div>
							
							<div v-bind:class="{ 'green': isPriceUp, 'red': isPriceDown }" class="text">
								<transition name="slide-fade" mode="out-in">
									<small :key="price.ticker.last" v-cloak>
										${{ price.price.USD*price.ticker.last | numFormat }} 
									</small>
								</transition>
								<transition name="slide-fade" mode="out-in">
									<small :key="price.ticker.last" v-cloak>
										<i v-bind:class="{ 'up arrow': isPriceUp, 'arrow down': isPriceDown }" class="icon"></i>
										{{ price.ticker.change | percent }}%
									</small>
								</transition>
							</div>
						</div>
					</div>
					<div class="row no-padding-y">
						<div class="column">
							<canvas id="priceChart" width="100%" height="25"></canvas>
						</div>
					</div>
				</div>
				
			</div>
		</div>
		<div class="sixteen wide mobile eight wide tablet four wide computer column">
			<div class="ui piled equal height <?= $this->config->application->theme; ?> segment">
				<h4 class="ui dividing header">Coin Supply</h4>
				<div class="ui grid">
					<div class="row">
						<div class="sixteen wide right aligned column">
							<div class="ui mini horizontal <?= $this->config->application->theme; ?> statistic">
								<div class="value">
									<transition name="slide-fade" mode="out-in">
										<span :key="supply" v-cloak><strong>{{ supply | numFormat }}</strong></span> 
									</transition>
								</div>
								<div class="label">
									<?= $unit; ?>
								</div>
							</div>
							
						</div>
					</div>
					
					
				</div>
			</div>
		</div>
		<div class="sixteen wide mobile eight wide tablet four wide computer column">
			<div class="ui piled equal height <?= $this->config->application->theme; ?> segment">
				<h4 class="ui dividing header">Diff & Network</h4>
				<div class="ui grid">
					<div class="row no-padding-bottom">
						<div class="six wide column">Diff</div>
						<div class="ten wide right aligned column">
							<transition name="slide-fade" mode="out-in">
								<strong :key="difficulty" v-cloak>{{ difficulty | percent }}</strong>
							</transition>
						</div>
					</div>
					<div class="row no-padding-y">
						<div class="six wide column">Network</div>
						<div class="ten wide right aligned column">
							<transition name="slide-fade" mode="out-in">
								<strong :key="hashrate" v-cloak>{{ hashrate/1000 | percent }} <small>KH/s</small></strong>
							</transition> 
						</div>
					</div>
					<div class="row no-padding-top">
						<div class="column">
							<canvas id="networkChart" width="100%" height="25"></canvas>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="ui <?= $this->config->application->theme; ?> segment">
		<h4 class="ui dividing header no-margin-top">Metronome Beat</h4>
		<canvas id="heartBeat" width="100%" height="10"></canvas>
		Last Metronome : {{ height }} - {{ tick | toTime }} seconds ago
	</div>

	<div class="ui divider"></div>
	<div class="ui form">
		<div class="ui field">
			<form method="post" action="<?= $this->url->get($subUrl.'/search'); ?>">
			<input type="text" name="src" placeholder="You may enter a block height, block hash, transaction hash, or wallet address" autocomplete="off">
			</form>
		</div>
	</div>
</div>
<br>
<?php
	$btcPrice="";
	$usdPrice="";
	$eurPrice="";
	$timePrice="";
	$minBTCPrice=$minUSDPrice=1;
	$maxBTCPrice=$maxUSDPrice=0;
	
$items = $prices;
$count = count($prices);
for ($i = $count-1; $i >= 0; $i--) {
	$btcPrice.=$prices[$i]->ticker["last"].",";
	$usdPrice.=number_format(($prices[$i]->price["USD"]*$prices[$i]->ticker["last"]),2).",";
	$eurPrice.=number_format(($prices[$i]->price["EUR"]*$prices[$i]->ticker["last"]),2).",";
	$timePrice.=$prices[$i]->time.",";
	if ($minBTCPrice>=$prices[$i]->ticker["last"])
		$minBTCPrice=$prices[$i]->ticker["last"];
	if ($maxBTCPrice<=$prices[$i]->ticker["last"])
		$maxBTCPrice=$prices[$i]->ticker["last"];
	if ($minUSDPrice>=($prices[$i]->price["USD"]*$prices[$i]->ticker["last"]))
		$minUSDPrice=($prices[$i]->price["USD"]*$prices[$i]->ticker["last"]);
	if ($maxUSDPrice<=($prices[$i]->price["USD"]*$prices[$i]->ticker["last"]))
		$maxUSDPrice=($prices[$i]->price["USD"]*$prices[$i]->ticker["last"]);
}
					
?>
<script src="https://bitcoin.arue.co.id/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-socket.io-extended"></script>
<script>
 Vue.use(VueSocketIOExt, io('https://bitcoin.arue.co.id'));
</script> 
<script>

	var block={
		blockheight:<?= $lastBlock->blockheight; ?>
	};
	var blockTimeAVG=<?= $blockTimeAVG; ?>;
	var blockTimeCount=<?= $blockTimeCount ?>;
	var mnActive=<?= $mnEnabled; ?>;
	var mnCount=<?= $mnCount; ?>;
	var price={
		ticker:{
			last: <?= number_format($price->ticker["last"],8); ?>,
			change: <?= isset($price->ticker["change"]) ? $price->ticker["change"] : 0 ; ?>
		},
		price:{
			USD: <?= isset($price->price["USD"]) ? $price->price["USD"] : 0; ?>
		}
	};
	var prices=[<?= trim($btcPrice,","); ?>];
	var timePrice=[<?= trim($timePrice,","); ?>];
	var lastTimePrice=timePrice[timePrice.length-1];
	var supply=<?= $supply->total; ?>;
	var isPriceUp=<?= $price->ticker["change"]>=0 ? 'true' : 'false' ?>;
	var isPriceDown=<?= $price->ticker["change"]>=0 ? 'false' : 'true' ?>;
	var date = new Date();

		var heartbeattimes=[date.getTime()-11,date.getTime()-10,date.getTime()-9,date.getTime()-8,date.getTime()-7,date.getTime()-6,date.getTime()-5,date.getTime()-4,date.getTime()-3,date.getTime()-2,date.getTime()-1,date.getTime()];


		var heartbeats=[0,0,0,0,0,0,0,0,0,0,0,0];
	
	var height=0;
	var tick=0;
	var nextDiffBlock=0;
	var nextDiffTime=0;
	Vue.mixin({
		sockets: {
			connect() {
				/*console.log('socket connected')*/
			},
			data(val) {
				if (height!=val){
					heartbeattimes.push(date.getTime());
					heartbeattimes.push(date.getTime()+1);
					heartbeattimes.push(date.getTime()+2);
					heartbeattimes.push(date.getTime()+3);
					heartbeattimes.push(date.getTime()+4);
					heartbeats.push((Math.random()*20)-10);
					heartbeats.push((Math.random()*20)-10);
					heartbeats.push((Math.random()*20)-10);
					heartbeats.push((Math.random()*20)-10);
					heartbeats.push((Math.random()*20)-10);
					this.tick=0;
					heartChart.update();
					height=val;
				}
			}
		},
		filters: {
			currency (value) {
				return parseFloat(value).toFixed(2)
			},
			toTime (value) {
				var days = Math.floor(value / 86400);
				value -= days * 86400;

				var hours = Math.floor(value / 3600) % 24;
				value -= hours * 3600;

				var minutes = Math.floor(value / 60) % 60;
				value -= minutes * 60;

				var seconds = Math.floor(value % 60);
				/*var minutes = Math.floor(value / 60);
				var seconds = value - minutes * 60;*/
				var time = '';
				var hr = hours;
				var min = minutes;
				var sec = seconds;
				if (days==0 && hours==0 && minutes==0 )
					time=seconds;
				else {
					if (hours<10) hr='0'+hr;
					if (minutes<10) min='0'+minutes;
					if (sec<10) sec='0'+seconds;
					
					if (days!=0){
						if (days>1){
							time=days+' days '+hr+':'+min+':'+sec;
						} else {
							time=days+' day '+hr+':'+min+':'+sec;
						}
					} else {
						if (hours!=0){
							time=hr+':'+min+':'+sec;
						} else {
							time=min+':'+sec;
						}
					}
				}
				return time;
			},
			percent(value){
				return parseFloat(value).toFixed(3).toLocaleString('en')
			},
			numFormat (value) {
				return value.toLocaleString('en')
			},
			satoshi (value) {
				return parseFloat(value).toFixed(8)
			},
			toDate(value){
				var timestamp=value*1000;
				var d=new Date(timestamp);
				var hour=d.getHours();
				if (hour<10)
					hour="0"+hour;
				var minute=d.getMinutes();
				if (minute<10)
					minute="0"+minute;
				var second=d.getSeconds();
				if (second<10)
					second="0"+second;
				return d.getDate()+" "+monthNames[d.getMonth()]+" "+d.getFullYear()+" "+hour+":"+minute+":"+second;
			}
		},
		mounted(){
			setInterval(function(){
				heartbeattimes.push(date.getTime());
				heartbeats.push(0);
				if (heartbeattimes.length>=500){
					heartbeattimes.shift();
					heartbeats.shift();
				}
				heartChart.update();
			}.bind(this),300000);
		}
	});
	var hashratetime=[
		<?= time(); ?>, <?= time(); ?>
	];
	var hashrates=[
		<?= $hashrate; ?>, <?= $hashrate; ?>
	];


	var maxHashrate=<?= ($hashrate); ?>;
	var minHashrate=<?= ($hashrate); ?>;
	
	new Vue({
		el: '#stats',
		data(){
			return{
				block: block,
				blockTimeCount: blockTimeCount,
				blockTimeAVG: blockTimeAVG,
				mnActive: mnActive,
				mnCount: mnCount,
				isPriceUp: isPriceUp,
				difficulty: <?= isset($block->difficulty) ? $block->difficulty : 0; ?>,
				hashrate: <?= $hashrate; ?>,
				hashratetime:hashratetime,
				hashrates:hashrates,
				minHashrate: <?= ($hashrate/1000); ?>,
				maxHashrate: <?= ($hashrate/1000); ?>,
				tick: tick,
				nextDiffBlock: nextDiffBlock,
				nextDiffTime: nextDiffTime
			}
		},
		
		methods: {
			startTick: function () {
				setInterval(() => {
					this.tick = this.tick + 1;
					this.nextDiffTime = this.nextDiffTime - 1;
				}, 1000);
			},
			loadData: function(){
				let self = this;
				axios
					.get('<?= $this->url->get($subUrl.'/statistics/block'); ?>')
					.then(function(response){
						self.block = response.data.block;
						/*self.mnActive = response.data.mnEnabled;
						self.mnCount = response.data.mnCount;
						self.price = response.data.price;*/
						self.supply = response.data.supply.total;
						/*response.data.price.ticker.change>=0 ? (self.isPriceUp=true, self.isPriceDown=false) : (self.isPriceUp=false, self.isPriceDown=true);*/
						self.blockTimeCount=response.data.blockTimeCount;
						self.blockTimeAVG=response.data.blockTimeAVG;
						self.difficulty=response.data.difficulty;
						self.hashrate=response.data.hashrate;
												
						self.nextDiffBlock=(Math.ceil(self.block.blockheight/1920)*1920)-self.block.blockheight;
						self.nextDiffTime=self.nextDiffBlock*self.blockTimeAVG;
						
						if (self.hashrates[self.hashrates.length-1]!=response.data.hashrate){							
							self.hashrates.push(response.data.hashrate);
							self.hashratetime.push(Math.floor(Date.now() / 1000));
							
							if (self.hashrates.length>=30){
								self.hashrates.shift();
								self.hashratetime.shift();
							}
							self.minHashrate=Math.min(...self.hashrates);
							self.maxHashrate=Math.max(...self.hashrates);
							
							networkChart.config.options.scales.yAxes[0].ticks.max = self.maxHashrate+(1/100*self.maxHashrate);
							networkChart.config.options.scales.yAxes[0].ticks.min = self.minHashrate-(1/100*self.minHashrate);
							networkChart.update();
						} else {
							/*console.log(this.hashrates);*/
						}
						
					});
					
				axios
					.get('<?= $this->url->get($subUrl.'/api/price/'); ?>'+lastTimePrice)
					.then(function(response){
						if (response.data.length>=1){
							$.each(response.data,function(index, value){
								lastTimePrice=value.time;
								prices.push(value.ticker.last);
								timePrice.push(value.time);
								priceChart.update();
							});
							console.log(prices);
						}
					});
			}
		},
		mounted(){
			this.startTick();
			this.loadData();
			setInterval(function(){
				this.loadData();
			}.bind(this),30000)
		}
	});
	var ctx = document.getElementById("priceChart").getContext('2d');
	var priceChart = new Chart(ctx, {
		type: 'line',
		data: {
			labels: timePrice,
			datasets: [{
				label: 'BTC Price',
				data: prices,
				yAxisID: 'BTC',
				borderColor: ['<?= $this->config->application->priceChartColor; ?>'],
				 backgroundColor: ['<?= $this->config->application->priceChartBackgroundColor; ?>'],
				borderWidth: 4,
				pointRadius: 0,
				pointHoverRadius: 2
			}
			]
		},
		options: {
			scales: {
				yAxes: [{
					id:'BTC',
					type: 'linear',
					ticks: {
						beginAtZero:true,
						display: false,
						min:<?= $minBTCPrice-(10/100*$minBTCPrice); ?>,
						max:<?= $maxBTCPrice+(10/100*$maxBTCPrice); ?>
					},
					gridLines: {
						display:false,
						drawBorder: false
					},
					
				}],
				xAxes: [{
					ticks: {
						display: false
					},
					gridLines: {
						display:false,
						drawBorder: false
					}
				}]
			},
			layout: {
				padding: {
					left: -10,
					right: -5,
					top: 0,
					bottom: 0
				}
			},
			responsive: true,
			legend: {
				display: false
			 },
			tooltips: {
				titleFontSize: 9,
				bodyFontSize: 8.5,
				yAlign: 'right'
			}
		}
	});
	var ctx = document.getElementById("networkChart").getContext('2d');
	var networkChart = new Chart(ctx, {
		type: 'line',
		data: {
			labels: hashratetime,
			datasets: [{
				label: 'Hashrate',
				data: hashrates,
				yAxisID: 'MHs',
				borderColor: ['<?= $this->config->application->networkChartColor; ?>'],
				backgroundColor: ['<?= $this->config->application->networkChartBackgroundColor; ?>'],
				borderWidth: 4,
				pointRadius: 0,
				pointHoverRadius: 2
			}
			]
		},
		options: {
			scales: {
				yAxes: [{
					id:'MHs',
					type: 'linear',
					ticks: {
						beginAtZero:true,
						display: false,
						min:minHashrate,
						max:maxHashrate
					},
					gridLines: {
						display:false,
						drawBorder: false
					},
					
				}],
				xAxes: [{
					ticks: {
						display: false
					},
					gridLines: {
						display:false,
						drawBorder: false
					}
				}]
			},
			layout: {
				padding: {
					left: -10,
					right: -5,
					top: 0,
					bottom: 0
				}
			},
			responsive: true,
			legend: {
				display: false
			 },
			tooltips: {
				titleFontSize: 9,
				bodyFontSize: 8.5,
				yAlign: 'right'
			}
		}
	});

	var beat = document.getElementById("heartBeat").getContext('2d');
	var heartChart = new Chart(beat, {
		type: 'line',
		data: {
			labels: heartbeattimes,
			datasets: [{
				label: 'HeartBeat',
				data: heartbeats,
				yAxisID: 'HB',
				borderColor: ['<?= $this->config->application->networkChartColor; ?>'],
				backgroundColor: ['<?= $this->config->application->networkChartBackgroundColor; ?>'],
				borderWidth: 2,
				pointRadius: 0,
				pointHoverRadius: 2
			}
			]
		},
		options: {
			scales: {
				yAxes: [{
					id:'HB',
					type: 'linear',
					ticks: {
						beginAtZero:true,
						display: false,
						min:-10,
						max:10
					},
					gridLines: {
						display:false,
						drawBorder: false
					},
					
				}],
				xAxes: [{
					ticks: {
						display: false
					},
					gridLines: {
						display:false,
						drawBorder: false
					}
				}]
			},
			layout: {
				padding: {
					left: -10,
					right: -5,
					top: 0,
					bottom: 0
				}
			},
			responsive: true,
			legend: {
				display: false
			 },
			tooltips: {
				titleFontSize: 9,
				bodyFontSize: 8.5,
				yAlign: 'right'
			}
		}
	});


	const monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
	$(document).ready(function(){
		$('.time').html(function(){
			if (!isNaN($(this).text())){
				var timestamp=$(this).text()*1000;
				var d=new Date(timestamp);
				var hour=d.getHours();
				if (hour<10)
					hour="0"+hour;
				var minute=d.getMinutes();
				if (minute<10)
					minute="0"+minute;
				var second=d.getSeconds();
				if (second<10)
					second="0"+second;
				/*return timeAgo(timestamp/1000/1000);*/
				return d.getDate()+" "+monthNames[d.getMonth()]+" "+d.getFullYear()+" "+hour+":"+minute+":"+second;
			}
		});
		$('.timeAgo').html(function(){
			var seconds=$(this).text();
			return timeAgo(seconds);
		});
	});
</script>
<?php echo $this->getContent(); ?>